.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: clamp(16px, 0.9vw, 18px);
    border: none;
    background: var(--color-main);
    border-radius: 10px;
    padding: 15px;
    max-width: 336px;
    transition: background .3s linear;
}

.button:active,
.button:active:hover {
    color: var(--color-text);
    background: #FFF;
}

@media (width < 767px) {
    .button {
        max-width: 100%;
    }
}

@media (hover: hover) {
    .button:hover {
        background: var(--color-text);
    }
}