.social-links-fixed {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 5;
}

.social-links-fixed .social-links {
    flex-direction: column;
    gap: 10px;
    transition: top .3s linear;
}

.social-links-fixed .social-link {
    width: 80px;
    height: 80px;
    background-color: var(--color-main);
    border-radius: 10px 0px 0px 10px;
}

.social-links-fixed .social-link:active,
.social-links-fixed .social-link:active:hover {
    background-color: #FFF;
}

.social-links-fixed .social-link:active img,
.social-links-fixed .social-link:active:hover img {
    filter: brightness(0) saturate(100%) invert(16%) sepia(27%) saturate(0%) hue-rotate(258deg) brightness(101%) contrast(90%);
}

.social-links-fixed button.close {
    margin: 0px auto 10px;
}

.social-link.open {
    background-color: var(--color-main);
    background-image: url('/src/img/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}

.social-links-fixed.closed {
    top: 100%;
    transform: translate(0, calc(-100% - 20px));
}

@media (width < 1199px) {
    .social-links-fixed {
        top: 100%;
        transform: translate(0, calc(-100% - 20px));
    }

    .social-links-fixed .social-link {
        width: 50px;
        height: 50px;
    }
}

@media (hover: hover) {
    .social-links-fixed .social-link:hover {
        background-color: var(--color-text);
    }
} 