.about {
    background: var(--color-lightgray);
    padding-top: 68px;
    padding-bottom: 96px;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

@media (width < 767px) {
    .about {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    .about-wrapper {
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
}