.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(53, 53, 53, 0.80);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.popup-body {
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: min(720px, calc(100% - 40px));
    padding: 45px 50px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 50px);
    transition: opacity .3s linear, transform .3s linear;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup-body {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.popup-body .close {
    position: absolute;
    top: -10px;
    right: 0;
    transform: translate(0, -100%);
}

.popup-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--size-40);
}

.popup-body form {
    padding: 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
}

.popup-body form input {
    background: var(--color-lightgray);
}

.popup-body form input::placeholder {
    color: var(--color-border);
}

.popup-body form .button {
    max-width: 100%;
}

.popup-rules {
    margin-top: 20px;
    font-size: var(--size-14);
    color: var(--color-border);
}

.popup-rules a {
    color: var(--color-text);
    text-decoration: underline;
}

@media (width < 767px) {
    .popup-body {
        padding: 30px 20px;
    }
}