.hero-img {
    flex-basis: calc(50% - 100px);
    transform: skew(-20deg);
    overflow: hidden;
    position: relative;
    margin-left: 100px;
    border-left: 20px solid var(--color-border);
    border-right: 20px solid var(--color-border);
}

.hero-img img {
    object-fit: cover;
    object-position: left;
    height: 100%;
    transform: translate(-150px, 0px) skew(20deg);
    max-width: calc(100% + 300px);

}

.hero-img.hasLogo::before {
    transform: translate(-50%, -50%) skew(20deg);
}

@media (width < 767px) {
    .hero-img {
        flex-basis: 100%;
        transform: skew(20deg);
        border-radius: 20px;
        border: 10px solid var(--color-border);
        position: relative;
        left: 50px;
        margin: 0;
        max-height: 240px;
    }

    .hero-img img {
        width: calc(100% + 80px);
        transform: translate(-80px) skew(-20deg);
    }

    .hero-img::before {
        transform: translate(-50%, -50%) skew(-20deg);
    }
}